{{define "quote_list"}}
    <div class="p-6 space-y-4">
        {{range .Quotes}}
            <div class="p-4 bg-gray-200 rounded border border-gray-400">
                <p class="text-lg italic">"{{.Content}}"</p>
                <div class="mt-2 text-sm text-gray-400">
                    Added on {{.Timestamp.Format "Jan 02, 2006"}} by {{.CreatorName}}
                </div>
            </div>
        {{else}}
            <p>No quotes recorded yet.</p>
        {{end}}
    </div>
{{end}}